.env
.env.prod
.env.local
__pycache__
*.pyc
*.pyo
*.pyd
.git
.gitignore
.gitattributes
node_modules
logs
media
staticfiles
docker-compose*.yml
README.md
*.md
.vscode
.idea
*.log
*.sqlite3
htmlcoverage
.coverage
rentapartments.pem